name: Xontik Final Victory
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - run: |
          flutter clean
          flutter pub get
          flutter build apk --debug --no-tree-shake-icons
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Xontik-App
          path: build/app/outputs/flutter-apk/*.apk
